<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>Template</title>
<link rel="stylesheet" href="../../template/css/style1.css">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>

<body>
   
   
   <div id="gallery">
       <div class="photo">
         <img src="../../template/images/img/1.jpg" class="shown" id_foto="1"></img>
         <img src="../../template/images/img/2.jpg" id_foto="2" ></img>
         <img src="../../template/images/img/3.jpg" id_foto="3" ></img>
         <img src="../../template/images/img/4.jpg" id_foto="4" ></img>
         <img src="../../template/images/img/5.jpg" id_foto="5" ></img>
         <img src="../../template/images/img/6.jpg" id_foto="6" ></img>
         <img src="../../template/images/img/7.jpg" id_foto="7" ></img>
         <img src="../../template/images/img/8.jpg" id_foto="8" ></img>
       </div>

       <div class="tabs">
            <input type="button" class="prev" value="Назад">
            <input type="button" class="next" value="Вперед">
       </div>

   </div>
   <center>
    <div class="tabs" style="padding: 30px">
            <input type="button" id="like" value="LIKE">

       </div>
   <div style="padding-top: 50px">
         <img style="width: 100px" src="../../template/images/img/1.jpg" ></img>
         <img style="width: 100px" src="../../template/images/img/2.jpg"></img>
         <img style="width: 100px" src="../../template/images/img/3.jpg"></img>
         <img style="width: 100px" src="../../template/images/img/4.jpg"></img>
         <img style="width: 100px" src="../../template/images/img/5.jpg"></img>
         <img style="width: 100px" src="../../template/images/img/6.jpg"></img>
         <img style="width: 100px" src="../../template/images/img/7.jpg"></img>
         <img style="width: 100px" src="../../template/images/img/8.jpg"></img>
   </div>
 </center>
<script type="text/javascript" src="../../template/js/main.js"></script>

</body>
</html>
